## This notebook is to clean original data into 2 tables with below relationship and load into the database.

![](database/erd_diagram.jpg)

In [1]:
import pandas as pd
import numpy as np

# reading original data
north_path = "original_data/north.csv"
station_path = "original_data/stations.csv"
north = pd.read_csv(north_path)
station = pd.read_csv(station_path)

## Table 1: north_weather

Summary of key procedures:
1. Deal with wrong records: in the original data, there are many records of 9999, which does not make sense. As there are still quite enough records availble for interested attributes other than 9999, so we just dropped them
2. Narrow down the scope: the records size far beyond the scope of free Heroku, for narrowing down our scope of project, we reconsider station no. & recording period
3. Change columns to English, and extract relevant info
4. Summary statistics: for each station, the recording months & dates, average and std of records

In [2]:
print(north.columns)
print(north.dtypes)

Index(['index', 'Data', 'Hora', 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)',
       'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)',
       'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)',
       'PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)',
       'RADIACAO GLOBAL (Kj/m²)',
       'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)',
       'TEMPERATURA DO PONTO DE ORVALHO (°C)',
       'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)',
       'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)',
       'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)',
       'UMIDADE RELATIVA DO AR, HORARIA (%)',
       'VENTO, DIREÇÃO HORARIA (gr) (° (gr))', 'VENTO, RAJADA MAXIMA (m/s)',
       'VENTO, VELOCIDADE HORARIA (m/s)', 'region', 'state', 'station',
       'station_code', 'latitude', 'longitude', 'height'],
      dtype='object')
index                                                      int64
Data                                                      object
Hora                                                      object
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                         float64
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)    float64
PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)          float64
PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)         float64
RADIACAO GLOBAL (Kj/m²)                                    int64
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)             float64
TEMPERATURA DO PONTO DE ORVALHO (°C)                     float64
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)               float64
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)               float64
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)         float64
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)         float64
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                   int64
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                   int64
UMIDADE RELATIVA DO AR, HORARIA (%)                        int64
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                       int64
VENTO, RAJADA MAXIMA (m/s)                               float64
VENTO, VELOCIDADE HORARIA (m/s)                          float64
region                                                    object
state                                                     object
station                                                   object
station_code                                              object
latitude                                                 float64
longitude                                                float64
height                                                   float64
dtype: object

In [3]:
# Deal with wrong records 
north = north.replace(to_replace= -9999,value=np.NaN)
print(north.isna().sum())
print(north.shape[0])

index                                                          0
Data                                                           0
Hora                                                           0
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                         1988221
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)    1591222
PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)          1597892
PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)         1597871
RADIACAO GLOBAL (Kj/m²)                                  4540804
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)             1551208
TEMPERATURA DO PONTO DE ORVALHO (°C)                     1706311
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)               1558370
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)               1558241
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)         1713899
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)         1715709
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                 1707478
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                 1711836
UMIDADE RELATIVA DO AR, HORARIA (%)                      1706495
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                     1847536
VENTO, RAJADA MAXIMA (m/s)                               1810415
VENTO, VELOCIDADE HORARIA (m/s)                          1797836
region                                                         0
state                                                          0
station                                                        0
station_code                                                   0
latitude                                                       0
longitude                                                      0
height                                                    273960
dtype: int64
8392320

In [4]:
north.dropna(inplace=True)
print(north.shape[0])

3266122

In [5]:
# Narrow down the scope
print(north["Data"].min(), north["Data"].max())
print(north["station_code"].nunique())

# choose 24 stations, at 12pm across 1 year, supposing with 8K records
chosen_station = ['A111', 'A134', 'A051', 'A216', 'A247', 'A113', 'A119', 'A939',
       'A055', 'A018', 'A215', 'A240', 'A123', 'A104', 'A050', 'A202',
       'A250', 'A101', 'A102', 'A233', 'A235', 'A044', 'A048', 'A234']
north_2020 = north.loc[(north["Data"] >= "2020-01-01") & (north["Data"] < "2021-01-01") & 
                       (north["Hora"] == "12:00") & 
                      north["station_code"].isin(chosen_station)]
print(north_2020.shape)

2000-05-09 2021-04-30
87
(5462, 27)

In [18]:
# Reset columns and get relevant info
renamed_columns_en = ['date','hour','total_precipitation','pressao atmosferica ao nivel da estacao (mb)','atmospheric pressure max. in the previous hour (mb)','atmospheric pressure min. in the previous hour (mb)','radiation','air temperature - dry bulb (°c)','dew point temperature (°c)','max_temperature','min_temperature','dew temperature max. in the previous hour (°c)','dew temperature min. in the previous hour (°c)','max_humidity','min_humidity','air relative humidity (%)','wind direction (° (gr))','wind rajada maxima (m/s)','wind_speed','region','state','station','station_id','latitude','longitude','height']
north_final = north_2020.drop(["index"],axis=1)
north_final.columns = renamed_columns_en
north_final.drop(['pressao atmosferica ao nivel da estacao (mb)','atmospheric pressure max. in the previous hour (mb)','atmospheric pressure min. in the previous hour (mb)','air temperature - dry bulb (°c)','dew point temperature (°c)', 'dew temperature max. in the previous hour (°c)','dew temperature min. in the previous hour (°c)','air relative humidity (%)','wind direction (° (gr))','wind rajada maxima (m/s)','region', 'state', 'latitude', 'longitude', 'height', 'radiation','station'], inplace=True, axis=1)
north_final["year"] = [north_final["date"].values[i][:4] for i in range(len(north_final["date"]))]
north_final["month"] = [north_final["date"].values[i][5:7] for i in range(len(north_final["date"]))]
north_col = north_final.columns.tolist()
north_col_re = north_col[-3:-2] + north_col[2:8] + north_col[:1] + north_col[-2:] + north_col[1:2]
north_final = north_final[north_col_re].reset_index(drop=True)
north_final["record_id"]=np.arange(1,north_final.shape[0]+1,1)

# Modify datatype
north_final = north_final.astype({"date":"datetime64", "year":"int", "month":"int"})
north_final.head()

,station_id,total_precipitation,max_temperature,min_temperature,max_humidity,min_humidity,wind_speed,date,year,month,hour,record_id
0,A111,1.6,24.0,23.7,94.0,94.0,0.0,2020-01-01,2020,1,12:00,1
1,A111,0.0,25.9,23.2,94.0,82.0,0.7,2020-01-02,2020,1,12:00,2
2,A111,0.2,24.9,23.6,94.0,90.0,0.4,2020-01-03,2020,1,12:00,3
3,A111,0.0,25.5,24.9,93.0,89.0,1.5,2020-01-04,2020,1,12:00,4
4,A111,0.0,25.1,24.4,94.0,92.0,0.3,2020-01-05,2020,1,12:00,5

In [20]:
# summary statistics by stations
group1 = north_final.groupby("station_id").agg({"month":"nunique", "date":"nunique"})
group2 = north_final.groupby("station_id").mean()
group3 = north_final.groupby("station_id").std()
north_sum = group1.merge(group2, on="station_id").merge(group3, on="station_id", suffixes=("_avg", "_std"))
north_sum

,month_x,date,total_precipitation_avg,max_temperature_avg,min_temperature_avg,max_humidity_avg,min_humidity_avg,wind_speed_avg,year_avg,month_y,record_id_avg,total_precipitation_std,max_temperature_std,min_temperature_std,max_humidity_std,min_humidity_std,wind_speed_std,year_std,month,record_id_std
station_id,,,,,,,,,,,,,,,,,,,,
A018,12,360,0.137222,27.409444,24.925000,73.325000,62.675000,0.183611,2020.0,6.572222,2443.644444,1.034962,2.408728,2.022557,15.146175,17.465364,0.554177,0.0,3.454488,211.060477
A044,12,157,0.414013,26.475796,24.830573,81.770701,74.369427,1.824841,2020.0,5.050955,5056.000000,2.166187,1.720927,1.275291,9.678732,11.716352,0.832640,0.0,3.746445,45.466105
A048,10,268,0.386567,27.029851,24.409701,84.880597,73.541045,2.539179,2020.0,4.936567,5306.500000,3.862211,2.093580,1.407011,15.618603,18.760720,1.502730,0.0,2.576123,77.509139
A050,12,366,0.104372,27.901366,25.409563,76.297814,65.062842,2.696721,2020.0,6.513661,3232.500000,1.215846,2.431770,2.189450,18.838793,18.767179,1.680750,0.0,3.455958,105.799338
A051,11,319,0.101567,27.328527,24.597806,86.109718,74.172414,1.641379,2020.0,5.996865,734.595611,0.717063,2.072181,2.089016,9.787548,13.639509,0.590847,0.0,3.366967,196.480886
A055,12,366,0.199454,27.093169,24.633880,84.980874,73.538251,1.759016,2020.0,6.513661,1733.500000,1.300411,2.156426,2.002492,13.677385,16.366434,0.707891,0.0,3.455958,105.799338
A101,12,365,0.426301,27.547123,25.944110,84.660274,76.282192,1.310411,2020.0,6.498630,3970.835616,2.613652,1.672704,1.366776,7.498328,9.483058,0.651668,0.0,3.448702,110.688903
A102,12,301,0.128904,22.823256,21.351827,98.913621,97.109635,0.303322,2020.0,5.943522,4384.617940,0.739997,2.252730,2.301399,1.814529,4.303248,0.535153,0.0,3.395114,217.262660
A111,11,336,0.122024,24.925298,23.470536,93.208333,88.130952,0.887500,2020.0,6.113095,168.500000,0.577584,1.504476,1.509886,2.455221,5.580413,0.807442,0.0,3.324133,97.139076
A113,3,6,0.000000,25.450000,23.433333,92.666667,83.500000,0.966667,2020.0,4.000000,1190.833333,0.000000,1.539805,0.907010,3.265986,7.007139,0.794145,0.0,3.286335,32.033836
A119,2,44,0.000000,26.590909,25.406818,89.227273,83.318182,1.456818,2020.0,4.250000,1297.409091,0.000000,1.051205,0.819642,3.360950,5.246362,0.807349,0.0,5.076737,161.724043
A123,12,357,0.298039,27.893277,26.208403,87.498599,78.571429,0.000000,2020.0,6.375350,2871.000000,1.968722,1.720240,1.356999,6.453213,7.939984,0.000000,0.0,3.386068,103.201260
A134,11,294,0.317687,24.366667,23.411905,87.938776,86.112245,0.000000,2020.0,5.411565,583.921769,2.045196,0.933512,0.897947,2.294747,2.180660,0.000000,0.0,2.891202,197.806342
A202,12,353,0.057790,27.434561,25.724363,88.456091,80.478754,0.169122,2020.0,6.444759,3604.084986,0.518359,1.367769,1.104730,5.171373,7.838587,0.488543,0.0,3.480944,113.831133
A215,6,151,0.470199,27.481457,25.990066,88.430464,82.397351,0.638411,2020.0,3.192053,2079.000000,1.895426,1.667629,1.534004,6.499754,8.059842,1.078509,0.0,1.552268,43.734045
A216,7,166,0.553012,25.844578,24.198193,92.487952,84.421687,1.523494,2020.0,3.674699,962.704819,3.124637,1.306928,0.974367,3.572179,6.681717,0.845589,0.0,2.489291,60.628253
A233,12,364,0.106593,27.301099,24.543132,79.206044,67.524725,0.460714,2020.0,6.521978,4580.390110,0.883557,2.152402,1.991478,10.605049,14.640671,0.785979,0.0,3.462839,129.059008
A234,2,22,0.000000,28.100000,25.536364,88.045455,75.818182,1.190909,2020.0,10.181818,5451.500000,0.000000,1.805283,1.571031,7.631247,7.914040,0.477004,0.0,0.588490,6.493587
A235,7,195,0.305641,25.757436,24.887179,52.764103,42.569231,1.561026,2020.0,3.748718,4935.712821,1.550563,1.200680,0.993427,20.303515,19.850188,0.662951,0.0,1.895039,115.000715
A240,9,224,0.363393,26.199107,24.620089,86.419643,78.745536,1.605804,2020.0,4.540179,2291.732143,2.559971,1.543800,1.168763,7.348638,10.406641,0.689845,0.0,2.850252,129.383289
A247,4,61,0.350820,26.844262,24.911475,85.491803,77.967213,1.704918,2020.0,5.442623,1142.590164,1.557629,2.358285,1.601988,12.486824,14.854817,0.800297,0.0,4.907561,22.235390
A250,1,22,0.427273,25.340909,24.404545,91.409091,86.545455,1.431818,2020.0,1.000000,3621.500000,1.531007,0.834756,0.680670,1.593412,3.660956,0.559240,0.0,0.000000,6.493587
A939,12,365,0.064658,25.385479,23.446849,84.210959,75.972603,1.294247,2020.0,6.528767,1443.739726,0.464315,2.352876,2.280657,6.892574,9.465049,0.661288,0.0,3.448581,211.429529

## Table 2: north_station
Summary of key procedures:
1. selected stations
2. column modification

In [8]:
station.head()

,station,region,state,station_code,first date,height,longitude,latitude
0,QUEIMADAS,NE,BA,A436,2008-05-23,315.0,-39.616944,-10.984645
1,MACAU,NE,RN,A317,2007-01-06,32.0,-36.573056,-5.151111
2,SAQUAREMA - SAMPAIO CORREIA,SE,RJ,A667,2019-01-01,26.0,-42.608889,-22.871111
3,SANTANA DO LIVRAMENTO,S,RS,A804,2001-11-22,328.0,-55.401389,-30.750556
4,VILA VELHA,SE,ES,A634,2017-02-15,25.0,-40.403889,-20.466944

In [9]:
station = station.loc[station["station_code"].isin(chosen_station)]
station = station.rename(columns={"station":"station_name", "station_code":"station_id","first date":"first_date"})
station = station[["station_id", "station_name", "state", "first_date", "height", "longitude", "latitude"]]
station_final = station.reset_index(drop=True)
station_final.head()

,station_id,station_name,state,first_date,height,longitude,latitude
0,A113,APUI,AM,2008-07-19,160.0,-59.888561,-7.205475
1,A051,PIUM,TO,2016-04-06,161.0,-49.629444,-10.476944
2,A119,MANACAPURU,AM,2008-04-10,55.0,-60.628333,-3.294722
3,A202,CASTANHAL,PA,2003-01-24,65.0,-47.930833,-1.300833
4,A134,S. G. DA CACHOEIRA,AM,2011-08-31,90.0,-67.061111,-0.125000

## Load into database

In [23]:
from sqlalchemy import create_engine
postgres_url = "postgresql://mtfetravyddqqn:a89ccc05f5799f3bc56acb93d1658731d6a0b7f90c8de7fc6f11aa8fc93558aa@ec2-3-229-165-146.compute-1.amazonaws.com:5432/d3ila8010gb78r"
engine = create_engine(postgres_url)

north_final.to_sql("north_weather", con=engine, if_exists='append', index=False)
station_final.to_sql("north_station", con=engine, if_exists='append', index=False)